@model Resume.Application.DTOs.SiteSide.Home.HomeIndexModelDTO

@{
    ViewData["Title"] = "Home Page";
}

<div class="content" data-simplebar>
	<div class="section mt-0">
		<h1 class="title title--h1 title__separate">Resume</h1>
	</div>

	<!-- Educations -->
	<div class="section">
		<h2 class="title title--h2"><img class="title-icon" src="/SiteTemplate/assets/icons/icon-education.svg" alt="" /> Education</h2>
		<div class="timeline">

			<!-- Item -->
			@foreach (var education in Model.Educations)
			{
				<article class="timeline__item">
					<h5 class="title title--h3 timeline__title">@education.EducationTitle</h5>
					<span class="timeline__period">@education.EducationDuration</span>
					<p class="timeline__description">@education.Description</p>
				</article>
			}
			
		</div>
	</div>

	<!-- Experiences -->
	<div class="section">
		<h2 class="title title--h2"><img class="title-icon" src="/SiteTemplate/assets/icons/icon-experience.svg" alt="" /> Experience</h2>
		<div class="timeline">
			<!-- Item -->
			@foreach (var experience in Model.Experiences)
			{
				<article class="timeline__item">
					<h5 class="title title--h3 timeline__title">@experience.ExperienceTitle</h5>
					<span class="timeline__period">@experience.CompanyName</span>
					<span class="timeline__period">@experience.ExperienceDuration</span>
					<p class="timeline__description">@experience.Description</p>
				</article>
			}
			
		</div>
	</div>

	<!-- Skills -->
	<div class="section">
		<h2 class="title title--h2">My Skills</h2>
		<div class="box-gray">

			<!-- Progress -->
			@foreach (var skill in Model.MySkills)
			{
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="@skill.Percentage" aria-valuemin="0" aria-valuemax="100">
						<div class="progress-text"><span>@skill.SkillTitle</span><span>@skill.Percentage%</span></div>
					</div>
					<div class="progress-text"><span>@skill.SkillTitle</span></div>
				</div>
			}
			
		</div>
	</div>
</div>
